body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    min-height: 100vh;
}



main {
    background-color: hsl(0, 0%, 100%);
    max-width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem;
}   


img {
    max-width: 19rem;
    margin: 0.7rem;
    border-radius: 0.5rem;
}

h3 {
    text-align: center;
    margin: 0.5rem;
}

p {
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin: 1rem;
}